main{
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
}

article{
  width: 510px;
  margin: 30px;
  padding: 20px;
}
main > article > ul > li {
  list-style-type: circle;
  margin: 20px 0;
}


