/* ---------- HEADER ---------- */

    /* RESET & GLOBAL CSS */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
@font-face {
  font-family: "Belda Norm Regular", sans-serif;
  src: url(../public/font/belda-norm-regular.otf);
}

@font-face {
  font-family: "SyneMono-Regular";
  src: url(../public/font/SyneMono-Regular.ttf);
}

