main {
    display: flex;
    justify-content: space-evenly;
}

main form {
    border-radius: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 33%;


}

main input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus {
    background-color: lightblue;
}

fieldset {
    border: none;
}