/* ---------- FOOTER ----------- */
.big_container {
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  background-color: #192b4bcc;
}

footer .big_container p {
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
}

footer .big_container h3 {
  margin: 30px;
  font-weight: 200;
  font-size: 19px;
  color: #fff;
}

footer .big_container li {
  font-size: 15px;
  color: #fff;
  margin: 10px 0px;
}

footer .big_container a {
  margin: 0;
  color: #fff;
}

footer .big_container a:hover {
  text-decoration: underline;
}

footer .container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
}

/* INFOS FOOTER */

.infos_footer {
  width: fit-content;
}

/* CONTACT FOOTER */

.contact_footer {
  width: fit-content;
}

.contact_footer li {
  margin-left: 30px;
}

/* NAVIGATION FOOTER */

.nav_footer {
  width: 20%;
}

.nav_footer a {
  margin-left: 80px;
}

/* SOCIAL FOOTER */

.social_footer i {
  margin-right: 8px;
}

.contact_footer i {
  margin-right: 8px;
}

.text_footer {
  text-align: left;
}

.texte_footer {
  text-align: center;
  margin: 20px;
}

.titre-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.under-title {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

@media screen and (max-width: 500px){
  footer .container {
    flex-direction: column;
  }
}