.cards-img {
  height: 250px;
  width: 250px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.cards-text {
  height: 150px;
  width: 250px;
  margin: 10px;
  background-color: brown;
}

#product-card {
  height: 150px;
}

.txt-card {
  margin-top: 30px;
  margin-bottom: 30px;
}

.price-card {
  color: #5b2a86;
  font-size: medium;
}
.txt-card {
  font-size: small;
}

.card-promo {
  height: 320px;
  width: 420px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: white;
  border-radius: 4px;
  margin: 50px;
  padding: 20px;
}

.format {
  display: flex;
  justify-content: space-between;
}

.format1 {
  margin: 20px;
}
.format2 {
  margin: 20px;
  text-align: center;
}

.promo-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

#product-card-trophe {
  height: 250px;
}

.constellation {
  color: #000; 
  font-size: large;
  text-align: center;
}

#stars-map {
  height: auto;
  width: 100%;
}

.constellation-2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px;
}
/* HERO */

.hero {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 44px;
  background: #89A0C8;
  box-shadow:  14px -14px 9px #60708c, -14px 14px 9px #b2d0ff;
  background-image: url(https://images8.alphacoders.com/601/thumb-1920-601973.jpg);


}

#star-certificate {
  width: 300px;
  margin: 30px;
  border-radius: 4px;
}

.left {
  margin: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* Fin du Hero */
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  width: 300px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid white;
  transition: all 0.4s;
  padding: 10px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card img {
  width: 100%;
  height: 200px;
  min-width: 200px;
  object-fit: cover;
}

.card p {
  margin: 18px 15px;
  font-size: 15px;
  text-align: center;
}

.card span p {
  font-size: 40px;
  color: #192b4bcc;
  text-align: center;
  margin-bottom: 40px;
}

.left a{
  width: 80%;
  padding: 10px;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #192b4bcc;
  border-radius: 25px;
  background-color: #192b4bcc;
  color: white;
  transition: all 0.2s;
}

.card a{
  width: 80%;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #192b4bcc;
  border-radius: 25px;
  background-color: #192b4bcc;
  color: white;
  transition: all 0.2s;
}

.card a:hover {
  background-color: white;
  color: #192b4bcc;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-top: 70px;
  color: #fff;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container2 div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  width: 660px;
  height: 300px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid white;
  transition: all 0.4s;
}

.container2 img {
  background-image: url(../img/STAR.jpg);
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.promo-card > .card-promo > a {
  width: 80%;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #192b4bcc;
  border-radius: 25px;
  background-color: #192b4bcc;
  color: white;
  transition: all 0.2s;
}

@media screen and (max-width:800px){
  main {
    flex-direction: column;
  }
}